body {
    margin: 0;
    background-color: #323296
}

.container {
    display: flex;
    justify-content: space-around;
}

h3{
    color: #EEEEEE;
    width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;

   font-family: 'Verdana';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 36px;
   text-align: center;
    
}

#guest-score{
 width: 157px;
height: 10px;
left: 355px;
top: 145px;
font-family: 'Abhaya Libre SemiBold';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 10px;
/* or 141% */

text-align: center;

color: #F94F6D;
}

#but-1{
width: 45px;
font-family: 'Abhaya Libre SemiBold';
height: 45px;
left: 82px;
top: 271px;
margin-top: 20px;

}
#but-2{
width: 45px;
font-family: 'Abhaya Libre SemiBold';
height: 45px;
left: 82px;
top: 271px;


}
#but-3{
width: 45px;
font-family: 'Abhaya Libre SemiBold';
height: 45px;
left: 82px;
top: 271px;

}
#but-4{
width: 45px;
font-family: 'Abhaya Libre SemiBold';
height: 45px;
left: 82px;
top: 271px;
margin-top: 20px;


}
#but-5{
width: 45px;
font-family: 'Abhaya Libre SemiBold';
height: 45px;
left: 82px;
top: 271px;

}
#but-6{
width: 45px;
font-family: 'Abhaya Libre SemiBold';
height: 45px;
left: 82px;
top: 271px;

}

#home-score{
   
   width: 157px;
height: 10px;
left: 400px;
top: 15px;

font-family: "Abhaya Libre SemiBold";
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 10px;
/* or 141% */

text-align: center;

color: #F94F6D;

}

.black{
    background: black;
    height: 140px;
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.buttons{
margin-left: 25px
}